body, h1, header {
    margin: 0;
    padding: 0;
}

header {
    background-color: goldenrod;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* These values like "top, left, right"  calculates the whole thing from that position. So e.g. "right: 0;" here is calculated 0 from the right. */
    display: flex;
    justify-content: space-around;
}

.bagel {
    position: fixed;
    right: 5px;
    top: 4px;
}

h1 {
    text-align: center;
}

header a {
    /* This contains all the links that are inside the header */
    background-color: indianred;
    padding: 0.5em;
}

.message {
    font-size: 50px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    margin: 0;
    padding: 0;
}